In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cleaned job data.csv')

In [3]:
df.head()

,job_title,company_name,company_location,total_salary,City,State,link
0,Python Developer,Fuevation Technology Solutions Pvt Ltd.,"Gurgaon, Haryana",500000.0,Gurgaon,Haryana,https://in.indeed.com/rc/clk?jk=3d13bb2dd59bf2...
1,Python Developer,Kodehash Technologies Pvt Ltd,"Gurgaon, Haryana",1250000.0,Gurgaon,Haryana,https://in.indeed.com/rc/clk?jk=27274b8f0040ab...
2,Python Developer & Data,iXceed Solutions,"Gurgaon, Haryana",2500000.0,Gurgaon,Haryana,https://in.indeed.com/rc/clk?jk=e8527199acd1ac...
3,Python Developer,Beadcore Infotech Private Limited,"New Delhi, Delhi",466712.25,New Delhi,Delhi,https://in.indeed.com/rc/clk?jk=c644553992b3bc...
4,Sr. Python Developer,iXceed Solutions,"Gurgaon, Haryana",2500000.0,Gurgaon,Haryana,https://in.indeed.com/rc/clk?jk=842eac34ce8e17...

In [4]:
filtered_data = df[(df['job_title'].str.contains('Python Developer', case=False)) & (df['State'] == 'Delhi')]
filtered_data = filtered_data[filtered_data['total_salary'] != 'Not Applicable']

In [5]:
filtered_data['total_salary'] = pd.to_numeric(filtered_data['total_salary'], errors='coerce')
filtered_data = filtered_data.dropna(subset=['total_salary'])

In [6]:
average_salary = np.mean(filtered_data['total_salary'])

In [7]:
print("The average salary for Python developers in Delhi is:", average_salary,"Per Annum.")

The average salary for Python developers in Delhi is: 901118.7083333334 Per Annum.